.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

section.filters button {
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  margin-right: 30px;
  opacity: 1;
}

section.filters button:hover {
  opacity: 90%;
}